
\.vscode/launch\.json

\.vscode/settings\.json

*.pyc

resource/train/devset\.json

resource/train/train\.json

resource/training_data/entailment_recognizer/dev_claims_concatenate_True\.pkl

resource/training_data/entailment_recognizer/dev_evidences_concatenate_True\.pkl

resource/training_data/entailment_recognizer/dev_labels_concatenate_True\.pkl

resource/training_data/entailment_recognizer/train_claims_all_concatenate_True\.pkl

resource/training_data/entailment_recognizer/train_claims_refutes_concatenate_True\.pkl

resource/training_data/entailment_recognizer/train_claims_supports_downsampled_concatenate_True\.pkl

resource/training_data/entailment_recognizer/train_evidences_all_concatenate_True\.pkl

resource/training_data/entailment_recognizer/train_evidences_refutes_concatenate_True\.pkl

resource/training_data/entailment_recognizer/train_evidences_supports_downsampled_concatenate_True\.pkl

resource/training_data/entailment_recognizer/train_labels_all__concatenate_True\.pkl

resource/training_data/entailment_recognizer/train_labels_refutes_concatenate_True\.pkl

resource/training_data/entailment_recognizer/train_labels_supports_downsampled_concatenate_True\.pkl

resource/training_data/sentence_selection/sentence_selection_train_claims\.pkl

resource/training_data/sentence_selection/sentence_selection_train_evidences\.pkl

resource/training_data/sentence_selection/sentence_selection_train_labels\.pkl

resource/wiki-txt-files/wiki-001\.txt

resource/wiki-txt-files/wiki-002\.txt

resource/wiki-txt-files/wiki-003\.txt

resource/wiki-txt-files/wiki-004\.txt

resource/wiki-txt-files/wiki-005\.txt

resource/wiki-txt-files/wiki-006\.txt

resource/wiki-txt-files/wiki-007\.txt

resource/wiki-txt-files/wiki-008\.txt

resource/wiki-txt-files/wiki-009\.txt

resource/wiki-txt-files/wiki-010\.txt

resource/wiki-txt-files/wiki-011\.txt

resource/wiki-txt-files/wiki-012\.txt

resource/wiki-txt-files/wiki-013\.txt

resource/wiki-txt-files/wiki-014\.txt

resource/wiki-txt-files/wiki-015\.txt

resource/wiki-txt-files/wiki-016\.txt

resource/wiki-txt-files/wiki-017\.txt

resource/wiki-txt-files/wiki-018\.txt

resource/wiki-txt-files/wiki-019\.txt

resource/wiki-txt-files/wiki-020\.txt

resource/wiki-txt-files/wiki-021\.txt

resource/wiki-txt-files/wiki-022\.txt

resource/wiki-txt-files/wiki-023\.txt

resource/wiki-txt-files/wiki-024\.txt

resource/wiki-txt-files/wiki-025\.txt

resource/wiki-txt-files/wiki-026\.txt

resource/wiki-txt-files/wiki-027\.txt

resource/wiki-txt-files/wiki-028\.txt

resource/wiki-txt-files/wiki-029\.txt

resource/wiki-txt-files/wiki-030\.txt

resource/wiki-txt-files/wiki-031\.txt

resource/wiki-txt-files/wiki-032\.txt

resource/wiki-txt-files/wiki-033\.txt

resource/wiki-txt-files/wiki-034\.txt

resource/wiki-txt-files/wiki-035\.txt

resource/wiki-txt-files/wiki-036\.txt

resource/wiki-txt-files/wiki-037\.txt

resource/wiki-txt-files/wiki-038\.txt

resource/wiki-txt-files/wiki-039\.txt

resource/wiki-txt-files/wiki-040\.txt

resource/wiki-txt-files/wiki-041\.txt

resource/wiki-txt-files/wiki-042\.txt

resource/wiki-txt-files/wiki-043\.txt

resource/wiki-txt-files/wiki-044\.txt

resource/wiki-txt-files/wiki-045\.txt

resource/wiki-txt-files/wiki-046\.txt

resource/wiki-txt-files/wiki-047\.txt

resource/wiki-txt-files/wiki-048\.txt

resource/wiki-txt-files/wiki-049\.txt

resource/wiki-txt-files/wiki-050\.txt

resource/wiki-txt-files/wiki-051\.txt

resource/wiki-txt-files/wiki-052\.txt

resource/wiki-txt-files/wiki-053\.txt

resource/wiki-txt-files/wiki-054\.txt

resource/wiki-txt-files/wiki-055\.txt

resource/wiki-txt-files/wiki-056\.txt

resource/wiki-txt-files/wiki-057\.txt

resource/wiki-txt-files/wiki-058\.txt

resource/wiki-txt-files/wiki-059\.txt

resource/wiki-txt-files/wiki-060\.txt

resource/wiki-txt-files/wiki-061\.txt

resource/wiki-txt-files/wiki-062\.txt

resource/wiki-txt-files/wiki-063\.txt

resource/wiki-txt-files/wiki-064\.txt

resource/wiki-txt-files/wiki-065\.txt

resource/wiki-txt-files/wiki-066\.txt

resource/wiki-txt-files/wiki-067\.txt

resource/wiki-txt-files/wiki-068\.txt

resource/wiki-txt-files/wiki-069\.txt

resource/wiki-txt-files/wiki-070\.txt

resource/wiki-txt-files/wiki-071\.txt

resource/wiki-txt-files/wiki-072\.txt

resource/wiki-txt-files/wiki-073\.txt

resource/wiki-txt-files/wiki-074\.txt

resource/wiki-txt-files/wiki-075\.txt

resource/wiki-txt-files/wiki-076\.txt

resource/wiki-txt-files/wiki-077\.txt

resource/wiki-txt-files/wiki-078\.txt

resource/wiki-txt-files/wiki-079\.txt

resource/wiki-txt-files/wiki-080\.txt

resource/wiki-txt-files/wiki-081\.txt

resource/wiki-txt-files/wiki-082\.txt

resource/wiki-txt-files/wiki-083\.txt

resource/wiki-txt-files/wiki-084\.txt

resource/wiki-txt-files/wiki-085\.txt

resource/wiki-txt-files/wiki-086\.txt

resource/wiki-txt-files/wiki-087\.txt

resource/wiki-txt-files/wiki-088\.txt

resource/wiki-txt-files/wiki-089\.txt

resource/wiki-txt-files/wiki-090\.txt

resource/wiki-txt-files/wiki-091\.txt

resource/wiki-txt-files/wiki-092\.txt

resource/wiki-txt-files/wiki-093\.txt

resource/wiki-txt-files/wiki-094\.txt

resource/wiki-txt-files/wiki-095\.txt

resource/wiki-txt-files/wiki-096\.txt

resource/wiki-txt-files/wiki-097\.txt

resource/wiki-txt-files/wiki-098\.txt

resource/wiki-txt-files/wiki-099\.txt

resource/wiki-txt-files/wiki-100\.txt

resource/wiki-txt-files/wiki-101\.txt

resource/wiki-txt-files/wiki-102\.txt

resource/wiki-txt-files/wiki-103\.txt

resource/wiki-txt-files/wiki-104\.txt

resource/wiki-txt-files/wiki-105\.txt

resource/wiki-txt-files/wiki-106\.txt

resource/wiki-txt-files/wiki-107\.txt

resource/wiki-txt-files/wiki-108\.txt

resource/wiki-txt-files/wiki-109\.txt

*.pkl
